<div class="columns">
  <div class="column">
    <%= form_with(url: import_csv_movies_path, method: :post, multipart: true, local: true, html: { id: 'movie_form' }) do |form| %>
      <div class="file has-name">
        <label class="file-label">
          <%= form.file_field :csv_file, class: 'file-input', id: 'movie_file' %>
          <span class="file-cta">
        <span class="file-label">
          Choose a movie file…
        </span>
      </span>
          <span class="file-name" id="movie_file_name">
        No file uploaded
      </span>
        </label>
      </div>
      <%= form.submit 'Import Movies', class: 'button is-primary', id: 'movie_submit', disabled: true %>
    <% end %>
  </div>
  <div class="column">
    <%= form_with(url: import_reviews_movies_path, method: :post, multipart: true, local: true, html: { id: 'review_form' }) do |form| %>
      <div class="file has-name">
        <label class="file-label">
          <%= form.file_field :reviews_file, class: 'file-input', id: 'review_file' %>
          <span class="file-cta">
        <span class="file-label">
          Choose a review file…
        </span>
      </span>
          <span class="file-name" id="review_file_name">
        No file uploaded
      </span>
        </label>
      </div>
      <%= form.submit 'Import Reviews', class: 'button is-primary', id: 'review_submit', disabled: true %>
    <% end %>
  </div>
</div>

<script>
    document.getElementById('movie_file').addEventListener('change', function(e) {
        document.getElementById('movie_file_name').textContent = e.target.files[0].name;
        document.getElementById('movie_submit').disabled = false;
    });

    document.getElementById('review_file').addEventListener('change', function(e) {
        document.getElementById('review_file_name').textContent = e.target.files[0].name;
        document.getElementById('review_submit').disabled = false;
    });
</script>
