<%= form_with(url: movies_path, method: :get, local: true) do |form| %>
  <div class="field">
    <%= form.label :actor, 'Type in an actors name', class: 'label' %>
    <div class="control">
      <%= form.text_field :actor, class: 'input', value: params[:actor], placeholder: "John Travolta..." %>
    </div>
  </div>
  <div class="control">
    <%= form.submit 'Search', class: 'button is-primary' %>
  </div>
<% end %>
