<section class="hero">
  <div class="hero-body">
    <p class="title">
      Movies
    </p>
    <p class="subtitle">
      Find the best movie to watch tonight!
    </p>
  </div>
</section>

<section class="section">
  <%= render 'filter' %>
</section>

<section class="section">
  <% if @movies.any? %>
    <table class="table is-fullwidth">
      <thead>
      <tr>
        <th>Name</th>
        <th>Director</th>
        <th>Actor</th>
        <th>Year</th>
        <th>City</th>
        <th>Country</th>
        <th># Reviews</th>
        <th>Average Rating</th>
      </tr>
      </thead>
      <tbody>
      <% @movies.each do |movie| %>
        <tr>
          <td><%= link_to movie.name, movie_path(movie.id) %></td>
          <td><%= movie.director %></td>
          <td><%= movie.actors.join(', ') %></td>
          <td><%= movie.year %></td>
          <td><%= movie.cities.join(', ') %></td>
          <td><%= movie.countries.join(', ') %></td>
          <td><%= movie.reviews.count %></td>
          <td><%= movie_rating(movie) %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    It seems like there are no movies in our databases, upload some:
  <% end %>
</section>

<section class="section">
  <%= render 'csv_importer' %>
</section>
