<section class="hero">
  <div class="hero-body">
    <p class="title">
      <%= @movie.name %>
    </p>
    <p class="subtitle">
      <%= @movie.description  %>
    </p>
    <div class="hero-foot">
      <%= link_to 'Back to Index', movies_path, class: 'button is-primary' %>
    </div>
  </div>
</section>

<section class="section">
  <% if @movie.reviews.any? %>
    <table class="table is-fullwidth">
      <thead>
      <tr>
        <th>User</th>
        <th>Review</th>
        <th>Rating</th>
      </tr>
      </thead>
      <tbody>
      <% @movie.reviews.each do |review| %>
        <tr>
          <td><%= review.username %></td>
          <td><%= review.review %></td>
          <td><%= review.rating %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    It seems like there are no reviews in our databases
  <% end %>
</section>